#quiSommesNous{
    flex-direction: column;
}

#lesTravailleurs{
    justify-content: space-around;
    width: 100%;
    margin: 50px 0;
    gap: 30px;
}

#lesTravailleurs p{
    
}


.presentationPersonne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    .presentationPersonne p {
        margin-top: 10px;
    }
    .presentationPersonne img {
        box-shadow: 0 0 30px rgba(0, 184, 230, 0.4);
        margin-bottom: 10px;
        height: 300px;
        width: auto;
    }


.text_about {
    text-align: justify;
}
.text_about p {
    margin: 10px 0;
}

.poste_about {
    color: rgb(0, 184, 230);
}