/* Main section */

/* Partie du haut */

/* Fiche des developpeurs */



#lesDiffDev{
    flex-direction: row;
}

.presentationPersonne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px 0 30px;
}

.presentationPersonne>*{
    padding: 5px;
}


.text_about {
    font-size: helvetica;
    text-align: justify;
    
}

.poste_about {
    color: rgb(0, 184, 230);
}