/* Separer tous les blocks entre eux */



/* Barre de recherche */

#barreRecherche>button{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    background-color: #252E39;
    border-radius: 40px;
    padding: 10px;
    border-style: none;
}


#barreRecherche>button:hover{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    background-color: #afd7fa;
    border-radius: 40px;
    padding: 10px;
    border-style: none;
}

#barreRecherche>input{
    width: 70%;
    height: 35px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    background-color: #252E39;
    border-radius: 40px;
    padding: 10px 20px;
    border-style: none;
    text-align: start;
}

/* Utile pour les main info dans la premiere partie du main */

.flexbox{
    flex-direction: column;
}

#infoPrincipals{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.separateur{
    height: 30px;
    width: 2px;
    background-color: #ffffff;
    margin: 0 20px 0 20px;
}

/* Partie du bas */

.filmExport{
    color: #00B9E7;
}

#partieDuBas{
    display: flex;
}

#infoComplementaire>*{
    margin: 30px 0 30px 0;
    max-width: 600px;
}

/* Lecteur Youtube */

#lecteurYoutube{
    height: 50em;
}