/* Separer tous les blocks entre eux */



/* Barre de recherche */
#search {
    padding-bottom: 0;
}
#search-form {
    gap: 15px;
}

#search-form #name-input  {
    position: relative;
    min-width: 50%;
}
#search-form #name-input label  {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(246, 246, 246, 0.5);
    cursor: text;
}
#search-form #name-input input  {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--blue-dark);
    border-radius: 40px;
    padding: 10px 15px;
    border: var(--blue-dark) 2px solid;
}
    /* #search-form #name-input input:hover{
        color: var(--txt-black);
        background-color: var(--blue-light);
    } */
    #search-form #name-input input:focus-visible{
        outline: var(--txt-white) 2px solid;
    }

    #search-form #name-input input:focus ~ label,
    #search-form #name-input input:valid ~ label  {
        top: 0;
        transform: translateY(calc(-100% - 5px));
    }

#search-form #submitInput{
    background-color: var(--blue-dark);
    border-radius: 40px;
    padding: 10px 15px;
    border-style: none;
    cursor: pointer;
    border: var(--blue-light) 2px solid;
}
    #search-form #submitInput:hover{
        background-color: var(--blue-light);
    }


/* Utile pour les main info dans la premiere partie du main */
#mainInfo {
    text-align: center;
}

#infoPrincipals{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 15px 0 30px 0;
}

    .separateur{
        height: 30px;
        width: 2px;
        background-color: #ffffff;
        margin: 0 20px 0 20px;
    }
#lecteurYoutube {
    text-align: center;
}
    #lecteurYoutube iframe{
        aspect-ratio: 16/9;
        box-shadow: 0 0 30px rgba(0, 184, 230, 0.4);
    }

/* Partie du bas */

#alt-info-container {
    justify-content: center;
}

.filmExport{
    color: var(--blue-light);
}

#afficheFilm {
    height: auto;
    width: 30%;
    min-width: 200px;
    box-shadow: 0 0 30px rgba(0, 184, 230, 0.4);
}

#infoComplementaire {
    padding-left: 25px;
    box-sizing: border-box;
    width: 70%;
}

#infoComplementaire > p {
    margin: 30px 0;
}
