footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0D1821;
    height: 70px;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(0, 184, 230);
    transition-duration: 0ms;
}

#hautDePage{
    position: absolute;
    right: 20px;
}