header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0D1821;
    height: 70px;
    position: fixed;
    width: 100%;
}

header>*{
    background-color: #0D1821;
    
}

.menuButton{
    padding: 5px;
}

header>.menuButton:hover{
    color: #00B9E7;
    border-bottom: solid;
    border-bottom-color: #00B9E7;
    
}

a{
    text-decoration: none;
}