*{
    margin: 0;
    color : white;
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

main>*{
    padding: 90px 150px 20px 150px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Toujours prcq je connais pas le selecteur */

#partieDuBas{
    background-color: #11304c;
    width: 100%;
}

#partieDuBas>*{
    background-color: #11304c;
}

#partieDuBas>*>*{
    background-color: #11304c;
}

#partieDuBas>*>*>*{
    background-color: #11304c;
}