/*--------------------------- Import & Colors */

:root {
    --bg-color: rgb(14, 14, 14);
    --blue-dark: rgb(17, 48, 75);
    --blue-light: rgb(0, 184, 230);
    --blue-nav: rgb(13, 24, 33);

    --txt-white: rgb(246, 246, 246);
    --txt-black: rgb(22, 22, 22);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/*--------------------------- CSS reset */

*, html{
    margin: 0;
    padding: 0;
    transition: all ease .3s;
    scroll-behavior: smooth;
    color : var(--txt-white);
    font-family: 'Inter', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*--------------------------- Utils */

.flex{
    display: flex;
    flex-wrap: wrap;
}
.f-center {
    justify-content: center;
    align-items: center;
}


/*--------------------------- Main */
main {
    width: 100%;
    min-height: 100vh;
}

main .container {
    padding: 10vw;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Toujours prcq je connais pas le selecteur */

#partieDuBas{
    background-color: #11304c;
}

#partieDuBas>*{
    background-color: #11304c;
}

#partieDuBas>*>*{
    background-color: #11304c;
}

#partieDuBas>*>*>*{
    background-color: #11304c;
}